@media (min-height: 1080px) and (orientation: landscape) {
    .banner {
        margin-top: 23% !important;
    }
    #sidebar ul.components {
        margin : 200px 25px 375px 25px;
    }
    ul.CTAs {
        bottom: -425px;
    }
    #sidebar .sidebar-header{
        padding-top: 30px;
    }
    .logo-sidebar {
        margin-left: 20px;
    }
    .sidebar-header .logo-sidebar {
        margin-left: 0px !important;
    }
    .box-project {
        width: 95%;
    }

    #p-n {
        position: absolute;
        bottom: 0px;
        left: 25px;
        width: 300px;
    }

    .item-img {
        height: 625px;
    }

    .title-project {
        top: 130px;
    }
}
@media (max-height: 768px) and (orientation: landscape) {
    #sidebar ul.components {
        margin: 125px 25px 180px 25px;
    }

    #list-produk {
        width: 1290px;
    }

    #sidebar-project {
        min-width: 315px;
    }
    
    #p-n {
        width: 265px;
    }

    .banner {
        left:37%;
    }

    .banner img{
        width: 60% !important;
    }

    .item-img {
        height: 400px;
        width:100%;
        object-fit: cover;
    }
    .item-slide .prev {
        top: 26vh;
    }

    .item-slide .next {
        top: 26vh;
    }
}

@media (max-width: 400px) and (orientation: portrait){
    .overlay {
        display: none;
    }
    .banner {
        width: 40%;
        margin-top: 70%;
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

    .dismiss-sidebar {
        visibility: hidden;
        z-index: 1000;
        width: 32px;
        height: 32px;
        line-height: 35px;
        text-align: center;
        /* background: var(--grey); */
        position: absolute;
        top: 45px;
        right: 35px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .btn-menu {
        right: 10px;
        top: 35px;
    }

    .banner img {
        width: 200% !important;
    }
    .menu-dark{
        font-size: 12px;
        font-weight: 350;
        letter-spacing: 0.2em;
    }
    #sidebar {
        width: 100%;
        left: -100%;
    }
    #sidebar .sidebar-header {
        margin-top: 20px;
        margin-left: 10px;
    }
    .logo-sidebar {
        width: 95px !important;
        margin-left: 10px;
    }
    #sidebar ul.components {
        margin: 180px 25px 235px 25px;
    }
    #sidebar-sosmed {
        width: 355px;
    }

    #list-produk {
        width: 90%;
        margin-top: -2.5rem !important;
    }

    .btn-produk {
        bottom: 1.5rem;
        font-size: 13px;
        letter-spacing: 0.2em;
    }
    .card-body {
        height: 200px;
    }

    .left-konten {
        margin: 0rem 0.5rem 1rem 1rem;
    }
    .left-konten span {
        font-size: 12px;
    }
    .footer-section {
        margin: 100px 20px 50px 20px;
    }
    .footer-left {
        display: block;
        text-align: center;
    }
    .footer-left > div {
        letter-spacing: 0.2em;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .footer-right {
        display: block;
        float: none;
        text-align: center;
    }

    .footer-right > div {
        margin-top: 20px;
        letter-spacing: 0.2em;
        margin-bottom: 20px;
    }

    #sidebar-project {
        position: inherit;
        bottom: 0;
        min-width: 100%;
        width: 100%;
    }
    .box-project {
        padding-top: 0px; 
        width: 100%;
    }
    .logo-sidebar-project{
        display: none;
    }
    .top-class{
        display: none;
    }
    .mid-class{
        padding: 20px;
    }
    .section-detail-product {
        padding: 15px 15px 0 15px !important;
    }
    .bottom-class {
        padding: 0px !important;
        width: 110%;
    }
    #sidebar-project ul.components {
        margin: 30px 25px 120px 25px;
    }

    .detail-product-footer{
        display: none;
    }
    #p-n {
        width: 88%;
    }
    .about-us {
        padding: 0 !important;
    }
    .contact-us nav{
        padding: 15px 0 !important;
    }
    .contact-us p {
        font-size: 15px !important;
    }
    .contact-us span {
        font-size: 15px !important;
    }
    .contact-us .btn-menu {
        right: -10px !important;
        top: -10px !important;
    }
    .contact-us .logo-sidebar {
        margin-left: 0 !important;
        margin-top: -10px !important;
    }
    .dismiss-sidebar.active-dismiss {
        visibility: visible;
    }
    .item-img {
        margin-top: 90px;
        height: 460px;
    }
    .title-project {
        left: 35%;
        top: 85px;
    }
    .logo-overlay {
        display: none;
    }
    #dismiss-slider {
        right: 20px;
        top: 25px;
    }
    .next {
        display: none;
    }
    .prev {
        display: none;
    }
    #dismiss-bottom-slider .mt-5 {
        margin-top: 6rem !important;
    }
}