/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* warna yang digunakan
#91938b
*/
@font-face {
    font-family: "europe";
    src: url('assets/font/europe.tff');
}
:root {
    --color-1 : #343332;
    --grey :#91938b;
    --border-color : #cccccc;
    --hover: #F5F5F1;
    --base-font : 'Poppins', sans-serif;
}

.font-white {
    color: #fff;
}
body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    font-family: var(--base-font);
    /* font-weight: bold; */
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.bg-body {
    background-color: var(--hover);
}

.menu-dark{
    font-size: 14px;
    font-weight: 700;
    color: #343332;
    letter-spacing: 0.25em;
    font-weight: 500;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.menu {
    color: white;
    letter-spacing: 0.25em;
    font-weight: 500;
}

.banner {
    text-align: center !important;
    width: 40%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 21%;
    /* position: absolute;
    left: 35%;
    top: 45%; */
    cursor: pointer;
}

.dismiss-sidebar {
    visibility: hidden;
    z-index: 1000;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    /* background: var(--grey); */
    position: absolute;
    top: 30px;
    right: 80px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.dismiss-sidebar.active-dismiss {
    visibility: hidden;
}
/* Custom slider */
.main-bg {
    position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.slide-bg {
    background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.link-cons {
    background-color: var(--hover);
    border: 1px solid #cccccc;
    color: #cccccc;
}
/* .link-cons:hover {
    border: 1px solid white;
    color: white;
} */
.link-cons span {
    color: #91928A;
    letter-spacing: 0.25em;
    font-size: 13px;
}
/* .owl-theme .owl-nav{
    display: none;
} */

/* .main-bg .owl-stage-outer, .main-bg .owl-stage, .main-bg .owl-item, .main-bg .item {
	height: 100%;
    z-index: 9999;
    display: block;
} */
.hide {
    display: none;
}

.btn-menu {
    position: absolute; 
    right: 50px;
    top: 25px;
    border: none;
}
#sidebar {
    width: 355px;
    position: fixed;
    top: 0;
    left: -355px;
    min-height: 100vh;
    z-index: 999;
    background: var(--grey);
    color: #fff;
    transition: all 0.3s;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
}

#sidebar.active {
    left: 0;
    overflow: hidden;
}

.active-list {
    /* content: '';
    background: url(../img/caret.png) no-repeat;
    background-size: 100% auto;
    display: block;
    width: 5px;
    height: 10px;
    float: right; */
    color: white !important;
    border-top: 1px solid white !important;
    border-bottom:  1px solid white !important;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    /* background: var(--grey); */
    position: absolute;
    top: 30px;
    right: 80px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* #dismiss:hover {
    background: #fff;
    color: var(--grey);
} */

.overlay {
    /* display: none; */
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(52, 51, 50, 0.3);
    z-index: 998;
    transition: visibility 0s, opacity 0.7s linear;
    opacity: 0;
}
.overlay.active {
    visibility: visible;
    /* transition-delay: 0.7s; */
    /* display: block; */
    opacity: 1;
}

#sidebar .sidebar-header {
    padding-top: 20px;
    /* margin-top: 51px; */
    margin-left: 20px;
    background: var(--grey);
}

#sidebar ul.components {
    margin: 180px 25px 260px 25px;
    /* padding: 20px; */
    /* border-bottom: 1px solid #47748b; */
}

.logo-sidebar {
    width: 105px !important;
    margin-left: 25px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    text-transform: uppercase;
    line-height: 1;
    padding: 16px 0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-decoration: none;
    display: block;
    color: #cccccc;
}
#sidebar ul.components li {
    border-top: 1px solid #cccccc;
    border-bottom:  1px solid #cccccc;
}

.mid-about {
    margin-top: 1px;
    margin-bottom: 1px;
    border-top: 1px hidden white !important;
    border-bottom: 1px hidden white !important;
}
.mid-about:hover {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
}
#sidebar ul.components li:hover {
    color: white;
    border-top: 1px solid white;
    border-bottom:  1px solid white;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: var(--grey);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    /* padding: 20px; */
    position: absolute;
    bottom: -290px;
    left: 25px;
    width: 300px;
}

/* ul .CTAs > li {
    display: flex;
    flex-direction: row;
    margin: 5px;
} */
#sidebar-sosmed ul li{
    margin-left: 5px;
    margin-right: 5px;
}

#sidebar-sosmed {
    display: flex;
    flex-direction: row;
    /* margin: 5px; */
    border-top: 1px solid #cccccc;
}

.sidebar-sosmed ul li a i{
    font-size: 22px !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
}
#sidebar-sosmed li {
    /* flex: 1 1 auto; */
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.font-sosmed {
    font-size: 20px !important;
}

/* ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
} */

a.download {
    background: #fff;
    color: var(--grey);
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.7s;
    position: absolute;
    top: 0;
    right: 0;
}

/* index slider */
.bg-animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.cover-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}
@keyframes animate {
    0%,100%{
        background-image: url(../img/slider/bg.jpg);
    }
    25%{
        background-image: url(../img/slider/bg2.jpg);
    }
    50%{
        background-image: url(../img/slider/city-profile.jpg);
    }
    75%{
        background-image: url(../img/slider/city.jpg);
    }
}

/* LIST PRODUCT */

.card-text {
    font-size: 13px;
    letter-spacing: 0.25em;
}
#list-produk{
    padding-top: 10px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

.produk {
    cursor: pointer;
    border: 0;
    border-radius: 0;
    background-color: #343332;
}

.produk:hover .btn-produk{
    border: 1px solid white;
    background-color: white;
    color: #343332;
}

.produk:hover .img-produk {
    transform: scale(1.05);
}

.img-produk-body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.img-produk {
    transform-origin: 65% 75%;
    transition: transform 1s, filter 0.5s ease-out;
    background-size: cover;
}
.btn-produk {
    transition: all 0.65s ease-in-out;
    border: 1px solid white;
    text-align: center;
    position: absolute;
    bottom: 2.5rem;
    color: white;
    letter-spacing: 00.25em;
    font-size: 13px;
}

.btn-produkt {
    padding-top: 50px !important;
}

.left-konten {
    margin: 1rem 1.5rem 1rem 1.5rem;
}

/* DETAIL PROJECT */

#sidebar-project {
    z-index: 99;
    position: fixed;
    min-width: 355px;
    max-width: 355px;
    height: 100%;
    background: #343332;
    color: #fff;
    top: 0;
}

.box-project {
    padding-top: 80px; 
    width: 98%;
}
.logo-sidebar-project {
    width: 105px !important;
    margin-left: 20px;
    top: 20px;
}
#sidebar-project .sidebar-header-project{
    margin-top: 50px;
    margin-left: 20px;
}

#sidebar-project ul.components {
    margin: 225px 25px 300px 25px;
    /* padding: 20px; */
    /* border-bottom: 1px solid #47748b; */
}

#sidebar-project ul p {
    color: #fff;
    padding: 10px;
}

#sidebar-project ul li {
    text-transform: uppercase;
    line-height: 1;
    padding: 14px 0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-decoration: none;
    display: block;
    /* border-top: 1px solid white;
    border-bottom:  1px solid white; */
    color: white;
}

#sidebar-project ul.components li {
    border-top: 1px solid white;
    border-bottom:  1px solid white;
}

.text-1 {
    font-weight: bold !important;
    font-size: 12px;
}

.text-2 {
    margin-top: 10px;
    margin-bottom: 0 !important;
    text-transform: none;
    font-weight: lighter;
    letter-spacing: normal;
}

.text-2 a {
    margin-right: 5px;
}
#p-n {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    border-top: 1px solid white;
    bottom: 0;
}

#p-n a{
    letter-spacing: 0.25em;
}
/* #p-n ul.CTAs {
    position: absolute;
    bottom: 0px;
    left: 25px;
    width: 300px;
} */
#body-content-detail{
    display: flex;
    align-items: stretch;
}


/* FOOTER */
.footer-section {
    margin: 100px 80px 50px 80px;
}
.footer-left {
    display: flex;
}
.footer-left > div {
    margin-left: 15px;
    margin-right: 15px;
}

.footer-left-one {
    font-size: 13px;
    letter-spacing: 0.25em;
    color: #343332;
}

.footer-left-two a {
    font-size: 13px !important;
    color: #343332;
}
.footer-left a {
    font-weight: 600;
    line-height: 1.6;
    font-size: 14px;
    /* letter-spacing: 0.015em; */
}
.footer-right a {
    font-weight: 600;
    line-height: 1.6;
    font-size: 14px;
    letter-spacing: 0.25em;
}
.footer-right {
    display: flex;
    float: right;
}
.footer-right > div {
    margin-left: 15px;
    margin-right: 15px; 
}
.detail-product-footer {
    margin: 100px 0px 50px 0px;
}

.footer-sosmed a {
    margin-left: 5px;
    margin-right: 5px;
    color: #343332;
}
/* contact us */
.input-contact {
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
    padding: 0;
    color: black;
    margin-bottom: 6px;
    padding-bottom: 6px;
    font-size: 16px;
}
input:focus {
    outline: none;
    background: none;
}

textarea:focus {
    outline: none;
    background: none;
}
.area-contact {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    border: 1px solid black;
    background: transparent;
}

.btn-form {
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    font-weight:300;
    border-radius: 0;
    float: right;
    padding: 6px 60px;
    /* margin: 25px 0 50px 0 ; */
}

.btn-form:hover {
    border: 1px solid black;
    color: white;
    background-color: black;
}

.ig-link{
    opacity: 1;
}

.ig-link:hover{
    opacity: 0.7;
}